:root{
    --color-primary:rgb(141, 236, 180);
    --color-primary-dark:rgb(65, 176, 110);
    --color-white:rgb(255, 245, 224);
    --color-orange:rgb(220, 107, 25);
    --color-orange-dark:rgb(143, 69, 16);
    --header-height: 80px;
    --color-dager:red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

main {
    position: relative;
    height: 100vh;
}

.header {
    position: fixed;
    padding: 20px;
    text-align: center;
    width: 100%;
    font-size: 40px;
    background-color: var(--color-primary);
    color: var(--color-white);
    height: var(--header-height);
}

#logout {
    background-color: var(--color-primary-dark);
    color: var(--color-white);
    border: none;
    padding: 5px 10px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    position: fixed;
    right: 20px;
    transition: 0.5s;
    &:hover {
        background-color: var(--color-orange);
    }
}

#fotmMsg {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
}

#inputMsg {
    width: 100%;
    height: var(--header-height);
    padding: 10px;
    font-size: 30px;
}

.submit {
    color: var(--color-white);
    background: var(--color-primary);
    cursor: pointer;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 25px;
    border: none;
    &:hover {
        background: var(--color-primary-dark);
    }
}
